* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  width: 50%;
  margin: 50px auto;
  border: 1px solid #000;

  display: flex;
  justify-content: space-between;
}

.box {
  width: 150px;
  height: 150px;
}

.box1 {
  background: red;
}
.box2 {
  background: ORANGE;
}
.box3 {
  background: YELLOW;
}
.box4 {
  background: GREEN;
}
.box5 {
  background: purple;
}
